@import "tailwindcss";
@import "tw-animate-css";

:root{
  font-family: 'Courier New', Courier, monospace;
  background: #5e5a7d;
  background: linear-gradient(161deg, rgba(94, 90, 125, 1) 0%, rgba(18, 18, 18, 1) 100%);
  background-attachment: fixed;
  color: aliceblue;
}

.GameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.GameInfoCard {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.GameInfoCard img {
  display: flex;
  margin: 0 auto;
  border-radius: 25px;
  padding: 1rem;
}

.CardBanner{
  display: flex;
  width:100%;
}

.InfoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.InfoEntry {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 175px;
  height: 75px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: .5rem;

  @apply bg-slate-900 text-slate-200 hover:bg-slate-500 transition-colors duration-300;
}

.Header {
    background-color: #3b394c;
    padding: .25rem;
    display: flex;

    h1 {
      font-weight: bold;
      font-size: larger;
    }

    .Title {
      padding-left: 16px;
      font-variant-caps: all-petite-caps;
      text-align: left;
      font-weight: bold;
      flex-grow: 1;
      font-size: xx-large;
      text-align: center;
      color: lightslategray;
    }

    .UserName{
      align-self: self-end;
      font-size: medium;
    }
}