@import "tailwindcss";
@import "tw-animate-css";

:root{
  background-color: #1e293b;
}

.GameContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.GameInfoCard {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 600px;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
}

.GameInfoCard img {
  display: flex;
  margin: 0 auto;
  border-radius: 25px;
  padding: 1rem;
}

.CardBanner{
  display: flex;
  width:100%;
}

.InfoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.InfoEntry {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 175px;
  height: 75px;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: .5rem;

  @apply bg-slate-900 text-slate-200 hover:bg-slate-500 transition-colors duration-300;
}